In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
plt.style.use('ggplot')

In [32]:
df = pd.read_csv('~/Downloads/logs-insights-results(1).csv', parse_dates=True)

In [33]:
df

,@timestamp,score,ip,userAgent,market
0,2021-01-29 09:32:00.692,0.9,95.44.168.57,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,en-ie
1,2021-01-29 09:30:53.749,0.9,90.243.52.145,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,en-gb
2,2021-01-29 09:30:18.271,0.9,82.4.109.120,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,en-gb
3,2021-01-29 09:29:33.051,0.9,2a02:c7f:10be:9100:151f:f15e:75ba:5b5b,Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537....,en-gb
4,2021-01-29 09:24:32.443,0.9,80.169.55.18,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,en-gb
...,...,...,...,...,...
708,2021-01-26 09:53:23.038,NaN,82.132.237.173,NaN,NaN
709,2021-01-26 09:36:17.208,NaN,82.132.237.173,NaN,NaN
710,2021-01-26 08:51:02.657,NaN,82.132.237.173,NaN,NaN
711,2021-01-26 08:34:05.486,NaN,37.18.144.20,NaN,NaN
712,2021-01-26 07:54:44.079,NaN,195.27.14.131,NaN,NaN

In [44]:
df.value_counts(['score', 'market']).reset_index()

   score market    0
0    0.9  en-gb  445
1    0.9  en-ie  243
2    0.7  en-gb    4
3    0.9  cs-cz    3
4    0.1  en-gb    3
5    0.3  en-gb    1